<style>
  ul.horizontal-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li.horizontal-menu-child {
    float: left;
  }

  li.horizontal-menu-child a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.horizontal-menu-child a:hover {
    background-color: #111;
  }

  .active{
    color: 'blue';
  }
</style>


<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
            <div class="row tile_count">
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-laptop"></i> Total Laptops</span>
                <div class="count">0</div>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-desktop"></i> Total Desktops</span>
                <div class="count">0</div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-server"></i> Total Servers</span>
                <div class="count green">0</div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-print"></i> Total Printers</span>
                <div class="count">0</div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-nas"></i> Total NAS</span>
                <div class="count">0</div>
              </div>

              <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                <span class="count_top"><i class="fa fa-switch"></i> Total Switches</span>
                <div class="count">0</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <!--
  <ul class="horizontal-menu">
    <li class="horizontal-menu-child"><a href="<%#=laptop_index_path%>" class="active">Laptop</a></li>
    <li class="horizontal-menu-child"><a href="#news">Desktop</a></li>
    <li class="horizontal-menu-child"><a href="#contact">Server</a></li>
    <li class="horizontal-menu-child"><a href="#about">Printer</a></li>
    <li class="horizontal-menu-child"><a href="#home">Nas</a></li>
    <li class="horizontal-menu-child"><a href="#news">Switch</a></li>
    <li class="horizontal-menu-child"><a href="#contact">Scanner</a></li>
    <li class="horizontal-menu-child"><a href="#about">Others</a></li>
  </ul>

  <div class="clearfix"></div>
  -->


  
  <div style="width: 100%;height: 550px;display: table;text-align: center;">
    <h1 style="font-size:40px; display: table-cell;vertical-align: middle;">Welcome to the SRCM IT Portal</h1>
  </div>

</div>
<!-- /page content -->


      