<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">HOST NAME</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[host_name]" placeholder="HOST NAME">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">IP Address</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[ip_address]" placeholder="IP Address">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">CPU Make</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[cpu_make]" placeholder="CPU Make">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">CPU Model</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[cpu_model]" placeholder="CPU Model">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Memory</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[memory]" placeholder="Memory">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Hard Disk</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[hard_disk]" placeholder="Hard Disk">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">OS Version</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[os_version]" placeholder="OS Version">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">OS License Key</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[os_license_key]" placeholder="OS License Key">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Office Version</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[office_version]" placeholder="Office Version">
  </div>
</div>
<div class="form-group">
  <label class="control-label col-md-3 col-sm-3 col-xs-12">Office License Key</label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control" name="dsl[office_license_key]" placeholder="Office License Key">
  </div>
</div>
